body {
    font-family: "Cormorant", serif;
    margin: 0;
    text-align: center;
    background-color: #f5f1e6;
}

/* Navbar */
.navbar {
    background-color: #f5f1e6;
}

/* Banner Picture */
.top-banner {
    background-image: url("chinatown.png");
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin: 0;
}

/* Title */
.title {
    text-align: center;
    font-size: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #111;
}

/* Text */
.text {
    font-size: 20px;
    color: #333;
    margin: 10px 80px 10px 80px;
    text-align: center;

}

/* Footer */
footer {
    color: #555;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Images */
.image {
    width: 100%;
    height: auto;
}
